<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ParKing"
        tools:targetApi="31">
        <activity
            android:name=".VistaVenta"
            android:exported="false" />
        <activity
            android:name=".DetallesVentaActivity"
            android:exported="false" />
        <activity
            android:name=".VenderActivity"
            android:exported="false" />
        <activity
            android:name=".BuscarActivity"
            android:exported="false" />
        <activity
            android:name=".MenuUsuarioActivity"
            android:exported="false" />
        <activity
            android:name=".OlvidoUsuarioActivity"
            android:exported="false" />
        <activity
            android:name=".RegistroUsuario"
            android:exported="false" />
        <activity
            android:name=".InicioSesionActivity"
            android:exported="false" />
        <activity
            android:name=".MisReservasActivity"
            android:exported="false" />
        <activity
            android:name=".VistaReservaActivity"
            android:exported="false" />
        <activity
            android:name=".activity_ayuda"
            android:exported="false" />
        <activity
            android:name=".activity_mi_espacio"
            android:exported="false" />
        <activity
            android:name=".activity_mis_vehiculos"
            android:exported="false" />
        <activity
            android:name=".activity_modificar_perfil"
            android:exported="false" />
        <activity
            android:name=".activity_perfil"
            android:exported="false" />
        <activity
            android:name=".StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>